<%= render('shared/header_mobile' , title: "AGIR") %>


  <%= simple_form_for(@lawsuit) do |f| %>

  <div class="container" style="margin-top: 150px; width: 95%;">
    <div class="row">
      <div class="container-card mx-auto">
       <div class="form-group" id="Identity">
         <%= f.input :first_name, placeholder: '', label: 'Ton nom' %>
         <%= f.input :last_name, placeholder: '', label: 'Ton prénom' %>
         <%= f.input :zip_code, placeholder:'', label: 'Code postal (pour choisir le commissariat)'%>
         <%= f.input :number_dni, placeholder: '', label: 'N° DNI (carte identité, passport, visa étranger)' %>
         <p>Type de violence dont tu as été victime ? </p>
         <div class="checkbox-container"><%= f.input :violence_type, label: '', placeholder: '', collection: ['Viols', 'Violence psychologique', 'Violence physique', 'Je ne sais pas'], input_html: { class: 'choices' }, as: :check_boxes, include_blank: false %></div>
         <%= f.input :violence_date, placeholder: '', label: 'Date et heure de l’agression que tu as subis:' %>
         <%= f.input :author_violence, placeholder: '', label: 'Auteur des faits (si non connu « X »)' %>
         <%= f.input :lawsuit_type, placeholder: '', label: 'Quelle forme de plainte souhaites tu déposer?', collection: ['Main courante', 'Pré-Plainte', 'Plainte', 'Je ne sais pas'], input_html: { class: 'choices' } %>
         <%= f.input :declaration, placeholder: '', label: 'Décris nous les faits, qui seront transmis aux autorités compétentes:'%>
         <%= f.button :submit, "ENVOYER",class:'btn_liv' %>
       </div>
     </div>
   </div>

 </div>
 <% end %>

