<div class="hidden-mobile">
 <nav class="navbar" style="justify-content:center !important; padding-top: 20px; background-color: transparent !important;">
  <ul>
    <%= link_to "ACCUEIL", "#", class: "menu-web"%>
    <%= link_to "ANNUAIRE",  "#", class: "menu-web" %>
    <%= link_to "INFORMATIONS", "#", class: "menu-web"%>
    <%= link_to "TÉMOIGNAGES", "#", class: "menu-web" %>
    <%= link_to "FORMULAIRE",  "#", class: "menu-web" %>
    <%= link_to "MÉDICAL",  "#", class: "menu-web"%>
  </ul>
</nav>
</div>
