<input type="checkbox" id="toto1">
<div class="menu-collapse">
  <ul>
    <li><%= link_to "ACCUEIL", root_path %></li>
    <li><%= link_to "ANNUAIRE",  organizations_path %></li>
     <li><%= link_to "INFORMATIONS", informations_index_path %></li>
     <li><%= link_to "TÉMOIGNAGES", testimonials_index_path %></li>
     <li><%= link_to "FORMULAIRE",  new_lawsuit_path %></li>
     <li><%= link_to "MÉDICAL",  medical_index_path %></li>
   </ul>
 </div>

<div class="hidden-computer">
 <nav class="navbar fixed-bottom" id="hide-navbar" style="justify-content:center !important;">
  <ul class="nav">

    <li class="nav-item">
      <button type="button" class="btn btn-light" ><a href="/"><%= image_tag 'accueil.svg' %></button>
    </li>

    <li class="nav-item">
     <button type="button" class="btn btn-light"><a href="/organizations"><%= image_tag 'annuaire.svg' %></a></button>
   </li>

   <li class="nav-item">
     <button type="button" class="btn btn-light-urgence"><a href="tel:+33623082192"><%= image_tag 'urgence.png' %></a></button>
   </li>

   <li class="nav-item">
    <button type="button" class="btn btn-light"><a href="https://www.service-public.fr/particuliers/vosdroits/R48395" target="_blank"><%= image_tag 'chat_police.svg' %></a></button>
  </li>

  <li class="nav-item">
    <label for="toto1" id="button-hamburger" class="btn btn-light"></label>
  </li>

</ul>
</nav>
</div>
