<nav class="navbar fixed-bottom" style="justify-content:center; !important">
  <ul class="nav">
    <li class="nav-item">
    <button type="button" class="btn btn-light"> <%= image_tag 'accueil.svg' %> </button>
    </li>

    <li class="nav-item">
     <button type="button" class="btn btn-light"><%= image_tag 'annuaire.svg' %></button>
    </li>

    <li class="nav-item">
     <button type="button" class="btn btn-light-urgence"><%= image_tag '3639.svg' %></button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-light"><%= image_tag 'chat_police.svg' %></button>
    </li>

  <li class="nav-item">
      <button type="button" id="button-hamburger" class="btn btn-light"><%= image_tag 'hamburger_menu.svg' %></button>
    </li>
  </ul>
</nav>


<div class="menu-collapse" style="display: none">
<ul>
  <li>toto</li>
  <li>toto</li>
  <li>toto</li>
  <li>toto</li>
  <li>toto</li>
</ul>
</div>

<!-- #au clic sur button-hamburger, display = toggle une class open js
traslate + transition css
pseud elmnt "X" changer image  -->
