<div class="container">

  <div class="search-bar">
  <input type="text" placeholder="Code postal" id="<%= id %>">
  </div>

    <div class="results-orga">
    <% organizations.each do |organization| %>
        <div class="organization" data-zip="<%= organization.zip_code %>">
         <h1><%= organization.name %></h1><h2><%= organization.address %></h2><h2><%= organization.zip_code %></h2>
          <p><%= organization.description %></p><br>
          <%= link_to "tel:#{organization.phon_number}", class:"phonelink" do %>
          <i class="fas fa-phone"></i>
          <% end %>
          <br>
          <br>
        </div>
    <% end %>
  </div>

</div>
