
<div class="container" data-aos="fade-up">

  <div class="icone-page">
    <%= image_tag 'testimonial.svg' %>
  </div>

  <div class="video-container">
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/g5zteCpy1TU.jpg", data: {video: 'g5zteCpy1TU'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/JqGvZNpk4kc.jpg", data: {video: 'JqGvZNpk4kc'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/BFUi3hfxCkU.jpg", data: {video: 'BFUi3hfxCkU'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/YWSda53-xbE.jpg", data: {video: 'YWSda53-xbE'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/rMf53XHrqxI.jpg", data: {video: 'rMf53XHrqxI'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/l4r0WgyK5cI.jpg", data: {video: 'l4r0WgyK5cI'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/1PpF5baESss.jpg", data: {video: '1PpF5baESss'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/3___7JBAZD4.jpg", data: {video: '3___7JBAZD4'}, :class => "style_image" %>
    </div>
    <div class="video-responsive">
      <%= image_tag "https://res.cloudinary.com/dcwvakju8/image/youtube/UL8PGtEHTcc.jpg", data: {video: 'UL8PGtEHTcc'}, :class => "style_image" %>
    </div>
  </div>
</div>
